<div class='h1'><%= @question.content %></div><br>
<div class='align-right'><%= "Sent by: #{@question.user.email}" %></div><br>
<%= link_to 'Edit question', edit_question_path %><br>
<%= link_to 'Add answer', new_question_answer_path(@question) %>

<table class='table'>
  <% @answers.each do |answer| %>
    <tr>
      <td><%= link_to answer.content, edit_question_answer_path(@question, answer), class: 'h4' %></td>
      <td>
        <% if answer.right? %>
          <div class='btn btn-success'><%= 'Right answer' %></div>
        <% else %>
          <%= link_to 'Choose as right answer', question_answer_set_as_right_path(@question, answer), id: answer.id, class: 'btn btn-primary' %>
        <% end %>
      </td>
      <td><%= link_to 'Delete answer', question_answer_path(@question, answer), method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
