<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"><%= link_to 'Home', root_path %></a></li>
    <li class="breadcrumb-item active" aria-current="page">Topics</li>
  </ol>
</nav>

<%= form_with model: @topic, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Create' %>
<% end %>

<h1>Topics:</h1>
<% @topics.each do |topic| %>
  <ul>
    <li><%= topic.name %></li>
  </ul>
<% end %>
